<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @category.slug %>
</p>

<p>
  <strong>Products</strong>
  <%= render @products %>
</p>
